.overlay{
    min-height: 100vh;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient((#333d2e),(#467058));
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner{
    background: rgb(241, 238, 218);
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    box-shadow: 0 2px 0 2px #426550;
    border-radius: 10px;
    overflow-y: auto;
}

.overlay-inner .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box .author{
    margin-bottom: 10px;
    color: #426550;
}

.overlay-inner .inner-box .publication{
    color: #926824;
    font-size: 15px;
    position: relative;
    top: -10px;
}

.overlay-inner .inner-box .ratings{
    position: relative;
    top: -50px;
    font-size: 15px;
}

.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #DCAA5A;
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 0.3rem 0.5rem;
    position: relative;
    top: -30px;
}

.overlay-inner .inner-box button:hover{
    background-color: #F3CD62;
}

.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}